@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: #633CFF;
  --purple-hover: #BEADFF;
  --light-purple: #EFEBFF;
  --grey: #737373;
  --dark-grey: #333333;
  --light-grey: #FAFAFA;
  --borders: #D9D9D9;
  --white: #FFFFFF;
  --error: #FF3939;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--dark-grey);
  background: var(--white)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
